In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rabis\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
df=pd.read_csv('D:\\python\\Titanic_ML\\twitter\\data.csv', sep='\t',quoting=3 )

In [21]:
df.shape

(100, 1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
sentiment,text,user    100 non-null object
dtypes: object(1)
memory usage: 880.0+ bytes

In [ ]:
dataset=pd.read_csv('')

In [25]:
def review_to_words(raw_review):
    review=raw_review
    review=re.sub('[^a-zA-Z]', ' ' , review)
    review=review.lower()
    review=review.split()
    lam=WordNetLemmatizer()
    review=[lam.lemmatize(w) for w in review if not w in set(stopwords.words('english'))]
    return ''.join(review)

In [26]:
corpus=[]
for i in range(0,100):
    corpus.append(review_to_words(df['sentiment,text,user'][i]))

In [28]:
df['new']=corpus

In [29]:
df.head()

,"sentiment,text,user",new
0,"""neutral"",""REGISTRTATION OPEN!! and details po...",neutralregistrtationopendetailpostedcomplexity...
1,"""neutral"",""RT @exl_service: Rohit Kapoor, our ...",neutralrtexlservicerohitkapoorvicechairmanampc...
2,"""positive"",""Cadre 6 sharing best practices in ...",positivecadresharingbestpracticesciencedrivend...
3,"""positive"",""Big Data Ethics and 10 Controversi...",positivebigdataethiccontroversialdatascienceex...
4,"""neutral"",""Our Group Head of Data Science, @sa...",neutralgroupheaddatasciencesameerrahmanrecentl...

In [30]:
df.drop(['sentiment,text,user'], axis=1, inplace=True)

In [31]:
df.head()

                                                 new
0  neutralregistrtationopendetailpostedcomplexity...
1  neutralrtexlservicerohitkapoorvicechairmanampc...
2  positivecadresharingbestpracticesciencedrivend...
3  positivebigdataethiccontroversialdatascienceex...
4  neutralgroupheaddatasciencesameerrahmanrecentl...

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
vectorize=TfidfVectorizer()
vectorize.fit(df.new)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [34]:
vectorize.vocabulary_

{'neutralregistrtationopendetailpostedcomplexitytransporationscienceconnectivitydataampautomationhttpcoignqprjjbumichcs': 28,
 'neutralrtexlservicerohitkapoorvicechairmanampceohighlightthreefocusareabpmindustryskillingrebrandingindvatsalok': 38,
 'positivecadresharingbestpracticesciencedrivendatahttpconsqftmxzxwelemcadre': 58,
 'positivebigdataethiccontroversialdatascienceexperimenthttpcocviluehemxnextplanetrd': 56,
 'neutralgroupheaddatasciencesameerrahmanrecentlyspokesitkawalesmarketingleadershipserihttpcozfzjzfjjeditagency': 17,
 'positivertherhoopstatsheyfollowerstilllookingvolunteerupcomingncaaseasonnnifsomeoneknowwoulcmcasarez': 78,
 'positivertwaltatekssercdigitalkeepeyeexcitingsqadevelopmentsqacomputingdatascienceschoolhttpcounrcnouqicderekhouston': 97,
 'positiverturbanrgfunconversationaloktayitetrascienceteamscalinghealthcareinvestmentgloballyalongevechelsbells': 96,
 'negativetodayopportunityaskministerdifficultqagencybasedsciencerelyingdatahttpcofjfisgghargunie': 5,
 'positivertherhoopstatsheyfollowerstilllookingvolunteerupcomingncaaseasonnnifsomeoneknowwoullachinarobinson': 79,
 'positivertiainljbrownfinancialprofessionallearndatasciencennreadhttpconbtrgjfnndatasciencemachinelearninggullferrara': 82,
 'neutralfinancialprofessionallearndatasciencehttpcoswadzrhhnnfollowutechnewstechhttpcoruwohofhabrnews': 15,
 'positivertmgoeminnedatasciencetransformationvdemocratizationdatatechnologyexcellentkeynotemainaktheodorem': 86,
 'positivertpobenergyaccordingnewnasadatahumanliterallyknockedplanetearthbalancehttpcoflrgzvahttpcobdihay': 91,
 'positivefinancialprofessionallearndatasciencennreadhttpconbtrgjfnndatasciencehttpcordmkadiainljbrown': 65,
 'positivertunnitallmanmachinelearningbranchcomputerscienceinsteadapplyinghighlevelalgorithmsolveproblemexplchittuanand': 95,
 'neutralrtkdnuggetsessentialmathdatasciencehttpcohavvwvgfwhttpcogqxctxaasecureiot': 40,
 'neutraltangomitteckelchigeorgeemolicarusgordonrearrogtallblokealanpoirierjamesdehttpcoxebghmptyrlnnelson': 53,
 'positivertpobenergyaccordingnewnasadatahumanliterallyknockedplanetearthbalancehttpcoflrgzvahttpcobdiearthenbluesky': 90,
 'positivertkdnuggetswinninggameplanbuildingdatascienceteamhttpconcfodthttpcopjzyygoscarcumbicus': 84,
 'positiveaccordingnewnasadatahumanliterallyknockedplanetearthbalancehttpcoflrgzvahttpcobdidcbislpobenergy': 55,
 'neutraluxmeasureddatasciencecomemetricnnproducttanknairobiproducttanknrbhttpcohkwmvcmmrlthatguyamose': 54,
 'neutralrtmostlybitcoinchristiansciencemonitoraidprogramusedatatrackingtechnologybitcoinhttpcorhwetuhttpemccoinhq': 44,
 'neutralrtxalfeedchristiansciencemonitorstoryaidprogramusedatatrackingtechnologybitcoinhttpcoqdokplzemccoinhq': 51,
 'neutralrtcodatanewsannoyslotdatasciencedataanalyticsprogramstatisticvisualisatisimonhodson': 32,
 'positivertmsftimagineinteresteddatasciencecareerlearnnumpyperformlargecalculationsinglelinecodehttpalbabahmadkhan': 87,
 'neutralrtddnanasparkdatasciencecookbookhttpcotteliemvbabylouie': 35,
 'positivefunconversationaloktayitetrascienceteamscalinghealthcareinvestmentgloballyalongwihttpcoxnglybjzmurbanrg': 66,
 'neutralrtshareinsightsshareinsightsmodelmanagementfeaturedatascienceexperienceneededuseanalyticmodelgatherpriyankagotsurv': 48,
 'neutralrtstefanopulitiactualpaperpresentedforestsatusingcombinationfielduavesaeosentineldatasamulijunttila': 49,
 'positivewantknowuseuavphotogrammetricdataforestinventorywithoutdtmcheckhttpcosdtrfasimcstefanopuliti': 99,
 'positivertarjsonstatsmldatasciencefriendnniexpectinggraduatebiostatisticsphdsummersearchingfulltimmofferw': 72,
 'positivertadamrutherfordfryrsquaredworldcollideyetgaltonfirstcoinedregressionnewtechniquequotenewtechcarsjam': 70,
 'neutralhttpcotgvtjcpmfpythonfinancialprofessionallearndatasciencecityhttpcozmfdgrqmdvtweetingotusowl': 19,
 'positivefantasticexplanationdatasciencenonexperthttpcokzkidceaeantonyedwards': 64,
 'positiveintroducingdatasciencebigdatamachinelearningusingpythontoolhttpcomqngyclddfafa': 68,
 'neutralpythonampintroductiondatasciencehttpcowluhugqzhttpcooszlasteudemyfreecouses': 25,
 'negativertnstrategybasicbuildingblockdatascienceboilthingclassificationregressiondecisiothisishruk': 2,
 'positivertridderjeroencomparingdatacountryfoundspendingproducehighqualityscienceincreasingcombaghbanzadeh': 92,
 'neutralfinancialprofessionallearndatasciencehttpcozyoggdatascienceaihttpcoxkisgpnntsuriyasubraman': 16,
 'neutralrtkdnuggetsessentialmathdatasciencehttpcohavvwvgfwhttpcogqxctxaadrotudi': 39,
 'positivertetsinfupvjornadasdatasciencesocialgoodhttpcoybpouyurakhttpcobwlibwceferra': 77,
 'positivertmsftimagineinteresteddatasciencecareerlearnnumpyperformlargecalculationsinglelinecodehttpcryptokohn': 88,
 'positivedatasciencemoderndataarchitecturehttpcojpyqchhhandan': 63,
 'positivebusinessintelligencebundlesetsucceedcalehuntnnbeingsuccessfulcorporatesehttpcoziuqepbkuujikai': 57,
 'positivertherhoopstatsheyfollowerstilllookingvolunteerupcomingncaaseasonnnifsomeoneknowwoulnemchocke': 80,
 'negativejohnsumsercrossingbigdatadatascienceanalyticschasmdifficultneedteamwillinghttpcohdfjeikegs': 0,
 'neutralsparkdatasciencecookbookhttpcotteliemvddnana': 52,
 'positiveheyfollowerstilllookingvolunteerupcomingncaaseasonnnifsomeoneknowhttpcormopmenbsoherhoopstats': 67,
 'positivedatasciencemoderndataarchitecturehttpcogqwijayzdougbrowndba': 62,
 'neutralbigdatachangingsciencemosaicsciencehttpcorxwwxejpikyaa': 8,
 'neutralrtkirkdbornetutorialdatasciencesimplifiedpartregressionclassificationmodelselectionvalidationgeneralizationhurgoddess': 42,
 'positivertmsftimagineinteresteddatasciencecareerlearnnumpyperformlargecalculationsinglelinecodehttphackernoon': 89,
 'neutralrtsuntimesobitsripphysicistleonledermandescribedthrillsciencemorninglookingdatahbebo': 50,
 'positivertenergywaysrltodaybudapestinvitedsepeupresentinnovativeapproachdatascienceampaisolutioneuropeansepeu': 76,
 'positiveseelatestharryhinesblvddallasjobclickapplypopulationsciencedataanalystiibehavorialhttpcocfslqgnuftmjdfw': 98,
 'neutralrtronaldvanloonpythonovertakesrbecomesleaderdatasciencemachinelearningplatformnkdnuggetsnnhttpscognrogermoore': 47,
 'neutralactualpaperpresentedforestsatusingcombinationfielduavesaeosentineldathttpcobjgfjystefanopuliti': 7,
 'neutralnatesilveressentialcertaintycomedatasciencebackgroundlikefeelsortthingcletustsjy': 21,
 'positivecheckinglotfreeopensourcedatasetsmakeaibetterdatasciencecentralhttpconkpknjwpateii': 59,
 'positivertearthcubefiredenablinggeosciencediscoverydevelopingnewenhanceddatainfrastructureworkflowrabernat': 75,
 'positivertsatijalabwowrandallplattlabuscrisprspaceracquisitionrecordstorecelltranscriptionalhistorydnaseemsllarsborm': 93,
 'neutralrtdebbiediscoversapplyingdatasciencecustomerservicechatbotsartemerrittmediumhttpcoltvlidgnzgene': 37,
 'neutralrtcomendadormbfoptimiselaunchinternshipprogramdatasciencegraduatehttpcojkntzdatasciencebigdatadataaipubliceyesuk': 34,
 'neutraljerbivoreknowpeoplealreadythinglikeseeneffortevaluatestatisticalmethodsocihttpcoevkljbuvnfavstats': 20,
 'neutralrtkdnuggetsessentialmathdatasciencehttpcohavvwvgfwhttpcogqxctxaawcfinlay': 41,
 'neutraldatasciencekagglewalkthroughcleaningdatakdnuggetshttpcooeumnkzxdatacleaninghttpcoecpcytrudbakerit': 13,
 'positiveconstantlysinkingrateloyaltycustomertimerethinkstrategyimportanttoolhttpcoyulqtiomeanalytics': 61,
 'neutralrtalgosjoninittygrittyusingunglobalplatformmethoddeveloperservicedatascienceapprenticejoepeskettdatascicampus': 30,
 'neutralrtcenterdatadromeneengoedpensioenorigamiendatasciencedatdetitelvandeinaugureleredediemarikeknoefhooglerajmvsonsbeek': 31,
 'neutralrtcomendadormbfoptimiselaunchinternshipprogramdatasciencegraduatehttpcojkntzdatasciencebigdatadataaifasanomultibank': 33,
 'neutralreasonusecrossvalidationdatascienceprojecthttpcovsjiyckoomshwedosh': 26,
 'negativeunserdatacentersciencecenterbereitetkomplexethemenfrsieaufdassieleichtzuverstehensindhttpcoalspuvftcqschneiderelecde': 6,
 'positivertiainljbrownequifaxjoinmanipalevangelizedatascienceindiannreadhttpcobkfsteotonndatasciencemacparismahavira': 81,
 'neutralcompanionarticlepreclinicaldatalillydiabetesglpgipcoagonistlymolmetabhttpconackfyqojdanieljdrucker': 11,
 'neutralchristiansciencemonitorstoryaidprogramusedatatrackingtechnologybitcoinhttpcoqdokplzxalfeed': 10,
 'positivertiainljbrowntravelappealaddfundingbringdatasciencesaucetravelbusinessnnreadhttpcomarcopark': 83,
 'neutralhttpcoqbsheeultkkursgeobigdatasciencerzethzdiesemkursbeleuchtenwirdierollhttpcodojiidkogeowebforumch': 18,
 'neutralcrossingbigdatadatascienceanalyticschasmhttpcotmvnfvxckjohnsumser': 12,
 'neutraldatascienceshippingmaritimetrendmatternnhttpscojramahbmhttpcosmxmodvymismarineuk': 14,
 'positivertantgrassodatasciencesingledisciplinecraftintersectionmanydeconstructingdatasciencelinkgtgthttpandreasboehmer': 71,
 'positivertdrobtheoreticalmathknowlotspecificfieldnnappliedmathknowlittlemanyfieldnndatascienceknowusetpq': 74,
 'positiverttheofficialporpsurelycouldfilleverypublicofficecountrypeopleinvolvedfinancialfraudhavredsnoopystock': 94,
 'positivekazanovakddcourserawinhttpcockfulfwdblackcat': 69,
 'negativertthousandwreckswrotedesigningsciencecasualaudiencemediumpleasedseepostedhttpcounugjhinkybarracuda': 4,
 'positivechickpeamccokkinermovedatadrivenguycontributeanythingmeaningfulvivischttpcovdbcuntlobrianuherek': 60,
 'positivertluxantavemetaluxnewadvisordavidakindelejoinedteamorderbringawarenessproventrackrecordfinaayue': 85,
 'neutralrecommendanyonejobcanadahttpcodpglxzmjobofthedaybusinessmgmthiringaccenturecajobs': 27,
 'negativerttedxspringfieldspeakerhighlightjaneadamresidentdatavisualizationartistuniversityvermontcomplexsystemcuvmprovost': 3,
 'positivertbigdataezakomanycompanyneeddatascientistsfindskillneedovercomeskillgapalsoprestchemtcem': 73,
 'neutralrtkirkdbornetutorialdatasciencesimplifiedpartregressionclassificationmodelselectionvalidationgeneralizationiainljbrown': 43,
 'neutralopenscienceopenoutcomeopendataalsousingopeninputvonschomberghttpcopyjkpaunbjoseprace': 23,
 'neutralniltonrckbotofdemaisaiencontrogaleradatelapretascripteirosczeirosumavibemmelhordacohttpcofrnutxditlallainnc': 22,
 'negativertmeaningnessfraudinventedfactdifferentproblemnonsensesciencepublishingpaperbasedfalsemadedatfilkr': 1,
 'neutralrtaapariciomderplimackmdchapinmduretericbudpdesignedshowobenefitinformdesigninterpretationcochapinmd': 29,
 'neutralchristiansciencemonitoraidprogramusedatatrackingtechnologybitcoinhttpcorhwetuhttpcofuapzcnrtimostlybitcoin': 9,
 'neutralrtpybonaccisivaasistiraltallerdeintroduccindatascienceenpythondelapyconesorganizadoporpydatamallorcabluekiriteam': 46,
 'neutralrtnewreadiaheardterrifictalklaurenfkleindigifrontdigitalfrontierconferencepowerdynamicdadigifront': 45,
 'neutralrtdebbiediscoversapplyingdatasciencecustomerservicechatbotsartemerrittmediumhttpcoltvlidgnzgavegasd': 36,
 'neutralprecisoaprenderdatascienceemsemanasrichardtiti': 24}

In [35]:
vectorize=vectorize.transform([df.new[0]])

In [36]:
vectorize

<1x100 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [40]:
for i in range(0,100):
    
len(df.new[2])

74

In [48]:
cols=[ 'sentiments', 'text', 'user'] 
df1=pd.read_csv('D:\\python\\Titanic_ML\\twitter\\data.csv', names=cols)

In [49]:
df1.head()

,sentiments,text,user
0,sentiment,text,user
1,neutral,REGISTRTATION OPEN!! and details posted for \C...,"Data &amp; Automation\""… https://t.co/IGnqprj..."
2,neutral,"RT @exl_service: Rohit Kapoor, our Vice Chairm...",vatsalok
3,positive,Cadre 6 sharing best practices in Science. We...,ElemCadre6
4,positive,Big Data Ethics and 10 Controversial Data Scie...,NeXtPlanetRD

In [50]:
df1.sentiments.value_counts()

neutral      48
positive     45
negative      7
sentiment     1
Name: sentiments, dtype: int64

In [65]:
df1.drop(df1.index[0], inplace=True)

In [66]:
df1.sentiments.value_counts()

neutral     48
positive    45
negative     7
Name: sentiments, dtype: int64

In [69]:
map_sentiment={'neutral':0, 'positive':1, 'negative':-1}
df1['sentiments']=df1['sentiments'].map(map_sentiment)

In [70]:
df1.head()

,sentiments,text,user
1,NaN,REGISTRTATION OPEN!! and details posted for \C...,"Data &amp; Automation\""… https://t.co/IGnqprj..."
2,NaN,"RT @exl_service: Rohit Kapoor, our Vice Chairm...",vatsalok
3,NaN,Cadre 6 sharing best practices in Science. We...,ElemCadre6
4,NaN,Big Data Ethics and 10 Controversial Data Scie...,NeXtPlanetRD
5,NaN,"Our Group Head of Data Science, @sameerrahman9...",edit_agency

In [72]:
df1['len']=[len(t) for t in df1.text]

In [73]:
df1.head()

,sentiments,text,user,len
1,NaN,REGISTRTATION OPEN!! and details posted for \C...,"Data &amp; Automation\""… https://t.co/IGnqprj...",95
2,NaN,"RT @exl_service: Rohit Kapoor, our Vice Chairm...",vatsalok,144
3,NaN,Cadre 6 sharing best practices in Science. We...,ElemCadre6,91
4,NaN,Big Data Ethics and 10 Controversial Data Scie...,NeXtPlanetRD,85
5,NaN,"Our Group Head of Data Science, @sameerrahman9...",edit_agency,140

In [75]:
df1.drop(['user'], axis=1, inplace=True)

In [77]:
df1.head()

   sentiments                                               text  len
1         NaN  REGISTRTATION OPEN!! and details posted for \C...   95
2         NaN  RT @exl_service: Rohit Kapoor, our Vice Chairm...  144
3         NaN  Cadre 6 sharing best practices in Science.  We...   91
4         NaN  Big Data Ethics and 10 Controversial Data Scie...   85
5         NaN  Our Group Head of Data Science, @sameerrahman9...  140

In [78]:
df1[df1.len>140].head(10)

    sentiments                                               text  len
2          NaN  RT @exl_service: Rohit Kapoor, our Vice Chairm...  144
6          NaN  RT @herhoopstats: Hey followers!  We are still...  142
10         NaN  RT @herhoopstats: Hey followers!  We are still...  142
11         NaN  RT @IainLJBrown: Should financial professional...  144
32         NaN  RT @arjson: Stats /ML/data science friends:\n\...  142
45         NaN  This $29 Business Intelligence bundle will set...  142
46         NaN  RT @herhoopstats: Hey followers!  We are still...  142
49         NaN  Hey followers!  We are still looking for more ...  142
55         NaN  RT @EnergyWaysrl: Today we are in Budapest inv...  144
57         NaN  RT @Ronald_vanLoon: #Python overtakes R, becom...  143

In [79]:
df1.text[55]

'RT @EnergyWaysrl: Today we are in Budapest invited by @SEP_EU to present our innovative approach in Data Science &amp; AI solutions to european…'

In [80]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(df1.text[55], 'lxml')
print(soup.get_text())

RT @EnergyWaysrl: Today we are in Budapest invited by @SEP_EU to present our innovative approach in Data Science & AI solutions to european…

In [81]:
import re

In [83]:
re.sub('[^a-zA-Z]', '', df1.text[57])

'RTRonaldvanLoonPythonovertakesRbecomestheleaderinDataScienceMachineLearningplatformsnbykdnuggetsnnhttpstcogn'